*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --backgroundClr:rgb(250,248,239);
    --playBackClr:rgb(187,173,160); /* playzone background color darker than empty tile*/
    --emptyTileClr:rgb(205,193,180);
}
/* main is used for centering and background  */
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundClr);
}
#playzone{
    width:32vmax;
    height:32vmax;
    background-color: var(--playBackClr);
    border: 0.3vmax solid var(--playBackClr) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
#playzoneInRestart{
    display: block;
    width:32vmax;
    height:32vmax;
    background-color: var(--playBackClr);
    border: 0.3vmax solid var(--playBackClr) ;
    text-align: center;
    padding-top: 10%;
}
.tile{
    width:7vmax ;
    height: 7vmax;
    margin: 0.2vmax;
    font-size: 5vmax;
    text-align: center;
    padding-top: 2%;
    background-color: var(--emptyTileClr);
}
/* css of individual type of colour */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
    font-size: 4vmax;
}

.x256{
    background-color: #edcc63;
    color: white;
    font-size: 4vmax;
}

.x512{
    background-color: #edc651;
    color: white;
    font-size: 4vmax;
}

.x1024{
    background-color: #eec744;
    color: white;
    font-size: 3vmax;
    padding-top: 5%;
}

.x2048{
    background-color: #ecc230;
    color: white;
    font-size: 3vmax;
    padding-top: 5%;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
    font-size: 3vmax;
    padding-top: 5%;
}

.x8192 {
    background-color: #ff2020;
    color: white;
    font-size: 3vmax;
    padding-top: 5%;
}

#gmOvr{
    color:rgb(135, 79, 0);
}
#restartBtn{
    border: 2px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding:1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.scoreBoard{
    position: fixed;
    top: 30%;
    left:1%;    
    border: 2px solid black;
    padding: 2rem;
}
.currentScore,.bestScore{
    background-color: rgb(187,173,160);
    color: white;
    padding: 0.5rem;
    border-radius: 7%;
    margin-bottom: 2rem;
}

.currentScore>span,.bestScore>span{
    font-size: 1.5rem;
}
.newgame{
    padding:0.5rem;
    background-color: hsl(29,16,48);
}